 body {
   color: white;
   /* text-align: center; */
   background-size: 60px 60px;
   background-color: #071C2F;
   background-image:
     linear-gradient(to right, #153f67 3px, transparent 3px),
     linear-gradient(to bottom, #153f67 3px, transparent 3px);
 }

 .container {
   width: 100%;
   height: 100vh;
   background-image: url(Group\ 78.png);
 }

 .hamburger {
   width: 35px;
   height: 30px;
   position: fixed;
   top: 3%;
   right: 2%;
   cursor: pointer;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
 }

 .line {
   width: 100%;
   height: 3px;
   background-color: #EEBA00;
   transition: all 0.8s;
 }

 .change .line1 {
   transform: rotateZ(-405deg) translate(-8px, 6px);
 }

 .change .line2 {
   opacity: 0;
 }

 .change .line3 {
   transform: rotateZ(405deg) translate(-8px, -6px);
 }

 .navbar {
   width: 100%;
   height: 20%;
   /* background-color: #153f67; */
   position: fixed;
   top: -20%;
   right: 0%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0 0 20% 20%;
   transition: top 0.8s cubic-bezier(1, 0, 0, 1);
 }

 .change {
   top: 0;
 }

 .nav-list {
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   padding: 0%;
   flex-wrap: wrap;
   width: 690px;
 }

 .nav-item {
   list-style: none;
   margin: 2%;
 }

 .nav-link {
   font-family: 'Alegreya', serif;
   font-family: 'Bitter', serif;
   text-decoration: none;
   font-size: 100%;
   color: aliceblue;
   font-weight: 300;
   letter-spacing: 1px;
   text-transform: uppercase;
   position: relative;
   padding: 3px 0;
 }

 .nav-link::before,
 .nav-link::after {
   content: "";
   width: 100%;
   height: 2px;
   background-color: #EEBA00;
   position: absolute;
   left: 0;
   transform: scaleX(0);
   transition: transform 0.5s;
 }

 .nav-link::after {
   bottom: 0;
   transform-origin: right;
 }

 .nav-link::before {
   top: 0;
   transform-origin: left;
 }

 .nav-link:hover::before,
 .nav-link:hover::after {
   transform: scaleX(1);
 }

 @font-face {
   font-family: 'Kalperica';
   src: url('fonts/Kalperica/Kalperica.otf') format('truetype');
 }

 .name {
   font-family: 'Kalperica';
   font-style: normal;
   font-weight: 400;
   font-size: 240%;
   line-height: 2px;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
 }

 .image1 {
   width: 400px;
 }

 .name1 img {
   width: 150px;
 }

 .image {
   width: 90px;
 }

 .presents {
   font-family: serif !important;
   font-style: italic;
   margin-top: -10px;
 }

 #astronomica {
   font-size: 250%;
   line-height: 42px;
   color: #EEBA00;
 }

 .btn {
   width: 40%;
   height: 45px;
   background-color: #EEBA00;
   border-top-right-radius: 12px;
   border-bottom-left-radius: 12px;
   font-family: 'Kalperica';
   font-style: normal;
   font-size: 20px;
   cursor: pointer;
 }